<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210798700285-5jcas60aqsnjj2irm950tt0abp2mvbdi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210798700285-5jcas60aqsnjj2irm950tt0abp2mvbdi</string>
	<key>API_KEY</key>
	<string>AIzaSyAlDbGI8uQ25U0a38Gfyd0Gw1YQpWPnACc</string>
	<key>GCM_SENDER_ID</key>
	<string>210798700285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>my-app-almo</string>
	<key>STORAGE_BUCKET</key>
	<string>my-app-almo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210798700285:ios:1da88bd7c5500dd172c094</string>
</dict>
</plist>